:root {
    --header-grey: #121212;
    --primary-black: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
    --text-blue: #5595E7;

    --column-count: 5;
    --results-per-page: 5;
    --max-image-height: 750px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-black);
    max-width: 100%;
}

.content-wrapper {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.d-none {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 1;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 150px;
    background-color: yellow;
}

.header form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
    transition: background-color 0.3s;
    background-color:
}

.header input:hover {
    background-color: var(--text-yellow);
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.carousel {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    aspect-ratio: 3/2;
    position: relative;
    background-color: var(--primary-grey);
    padding: 2rem;
    border-radius: 1rem;
}
.carousel__slide {
    position: absolute;
    margin: auto;
    width: 80%;
    inset: 0;
    visibility: hidden;
    aspect-ratio: 3/2;
    transition: 200ms visibility ease-in-out;
}
.carousel__slide[data-active] {
    visibility: visible;
}

.carousel__slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__btn {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--text-yellow);
    background: none;
    border: none;
}

.carousel__btn:hover,
.carousel__btn:focus {
    color: var(--primary-white);
}

.carousel__btn.prev {
    left: 1rem;
}

.carousel__btn.next {
    right: 1rem;
}


#searchResultsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 20px;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    min-height: 50vh
}

.popular__title {
    font-size: 24px;
    color: var(--text-yellow);
    margin-top: 20px;
    margin-left: 500px;
    text-align: center;
}

.search-result-item {
    background-color: var(--primary-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, color 0.3s;
    color: #fff;
}

.search-result-item:hover {
    transform: scale(1.05);
    color: red;
}

.search-result-item-aos {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-result-item .movie-title {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(45deg, #FFD700, #FF4500);
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.8s ease, background 0.3s;
}

.search-result-item:hover .movie-title {
    transform: translateY(0);
    background: linear-gradient(45deg, #FF69B4, #FF6347);
}

.search-result-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.8s ease, opacity 0.8s ease;
    max-width: 100%;
    max-height: var(--max-image-height);
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster[data-aos='zoom-in'].aos-animate {
    transform: scale(1.1);
    opacity: 0.8;
}

.search-result-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.search-result-item:hover .movie-title {
    transform: translateY(0);
}

#nextPageBtn,
#prevPageBtn,
#backToResultsBtn {
    background-color: var(--text-yellow);
    color: var(--primary-black);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#nextPageBtn:hover,
#prevPageBtn:hover,
#backToResultsBtn:hover {
    background-color: var(--primary-black);
    color: var(--text-yellow);
}

#totalPages,
#searchCount {
    background-color: var(--text-yellow);
    color: var(--primary-black);
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

#totalPages:hover,
#searchCount:hover {
    background-color: var(--primary-black);
    color: var(--text-yellow);
}


#totalPages:empty,
#searchCount:empty {
    display: none;
}

#totalPages:not(:empty),
#searchCount:not(:empty) {
    display: inline-block;
}

#backToSearchBtn {
    background-color: var(--text-yellow);
    color: var(--primary-black);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

#backToSearchBtn:hover {
    background-color: var(--primary-black);
    color: var(--text-yellow);
}
.movie-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.movie-link:hover {
    background-color: #333;
}

.movie-link:hover .movie-details-content {
    color: var(--hover-color);
    transition: color 0.3s ease-in-out;
}

.movie-link:hover .movie-details-content img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.movie-details-content {
    color: var(--text-yellow);
    font-size: 20px;
    display: flex;
    align-items: center;
}

.movie-details-content img {
    max-width: 30%;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.movie-details-content .movie-details {
    flex-grow: 1;
}

.movie-details-content .movie-details p {
    margin: 0;
    margin-bottom: 10px;
}


.popular__card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.popular__card {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), box-shadow 0.3s ease-in-out;
  }
  
  .popular__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #001529, #1890ff, #001529);
    opacity: 0.9;
    mix-blend-mode: overlay;
    transform: scale(1.2);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease-in-out;
  }
  
  .popular__card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(24, 144, 255, 0.8);
  }
  
  .popular__card h3 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out;
  }
  
  .popular__card:hover h3 {
    color: #FFD700;
  }
  
  .popular__card img {
    width: 100%;
    height: 100%;
  }
  
  .popular__card:hover::before {
    opacity: 0.7;
    transform: scale(1);
  }


/* Media Queries */
@media screen and (max-width: 1380px) {
    .content-wrapper {
        overflow: hidden;
        width: 95%;
    }
    #searchResultsContainer{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        height: auto;
        object-fit: contain;
        max-width: 100%;
        min-height: 50vh
    }
    .popular__card-container {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        overflow: hidden;
    }
    .header__flex {
        width: 95%;
    }
    .content-wrapper-popular{
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .content-wrapper{
        overflow: hidden;
    }
    #searchResultsContainer{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        height: auto;
        object-fit: contain;
        max-width: 100%;
        min-height: 50vh
    }
    .popular__card-container {
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        overflow: hidden;
    }
    .content-wrapper-popular{
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .content-wrapper {
        overflow: hidden;
    }
    #searchResultsContainer{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(1, 10fr);
        height: auto;
        object-fit: contain;
        max-width: 100%;
        min-height: 50vh
    }
    .popular__card-container {
        display: grid;
        grid-template-columns: repeat(1, 10fr);
        overflow: hidden;
    }
    .content-wrapper-popular{
        text-align: center;
    }
    }